/Vector/nbproject/private/
/Polymorphysm/nbproject/private/
/Emploies/nbproject/private/
/Employees/nbproject/private/
/PracticeWork2/nbproject/private/
/Singleton/nbproject/private/
/PracticalWork3/Person/nbproject/private/
/PracticalWork3/Person/build/
/PracticalWork3/MyComparator/nbproject/private/
/PracticalWork3/MyComparator/build/
/PracticalWork3/MyListIterator/nbproject/private/
/PracticalWork3/MyListIterator/build/
/PracticalWork3/MyAnagrama/nbproject/private/